/* Generales */
.compra-exito {
    background: url(../img/compra_ok.png) no-repeat center bottom;
    height: 35em;
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-weight: 800;
}


/* DISEÑOS GENÉRICOS */

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

span {
    font-weight: bold;
    color: #ff8000
}


/* Logo y menú */

#navbarDropdown {
    min-width: 100px;
    text-align: left;
}
nav {
    margin-top: 1em;
    font-size: 14px!important;

}

header {
    position: relative;
    border: 1px solid transparent;
    max-width: 1500px;
    margin: 0 auto 2em auto;
}

.navbar-toggler {
    order: -1;
}

nav ul li {
    text-transform: uppercase;
    text-align: center;
    margin: .3em 0;

}

nav ul {
    margin-top: 2em;
}

nav ul li a {
    color: black;
    font-weight: 600;
    font-size: 14px!important;

}

nav ul li a:hover {
    color: #ff8000;
}

.navlink  {
    color: #ff8000;
    font-size: 14px!important;


}

#navbarDropdown {
    text-align: center;
}

@media screen and (min-width: 990px) {
    nav ul li {
        background-color: white;
    }
    nav ul li {
        font-weight: bold;
        padding: 0 1em;
    }
    nav ul {
        margin: 0 5em 0 0;
    }

    #navbarDropdown {
        min-width: 100px;
        text-align: left;
    }
}

#logo {
    background: url(../img/logo.png) no-repeat center center;
    width: 80vw;
    height: -webkit-calc((80vw - 0.625em) * 4.2307);
    height: calc((80vw - 0.625em) * 4.2307);
    background-size: cover;
    font-size: 0;
    max-width: 110px;
    max-height: 26px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50px;
    left: calc(50% - 40px)
}

@media screen and (min-width: 990px) {
    #logo {
        background: url(../img/logo.png) no-repeat center center;
        width: 80vw;
        height: -webkit-calc((80vw - 0.625em) * 4.1428);
        height: calc((80vw - 0.625em) * 4.1428);
        max-width: 174px;
        max-height: 42px;
        min-width: 174px;
        min-height: 42px;
        margin-right: 0;
        top: 25px;
        left: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    #logo {
        background: url(../img/logo_tablet.png) no-repeat center center;
        width: 80vw;
        height: -webkit-calc((80vw - 0.625em) * 4.1666);
        height: calc((80vw - 0.625em) * 4.1666);
        max-width: 125px;
        max-height: 30px;
        top: 50px;
        left: calc(50% - 50px);
    }
}

.pagination {
    margin: 3em 0;
}

.pagination li {
    padding: 0 !important;
}

.page-item.active .page-link {
    border-color: #ff8000;
    background-color: #ff8000;
}

.page-link {
    color: #ff8000;
}


/* Footer */

footer {
    background: black;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin-top: 5em !important;

}

footer p:first-child {
    font-weight: bold;
}

.redes ul li {
    display: inline-block;
    margin: 1em 0;
}

.redes a {
    font-size: 0;
    display: block;
}

#fb {
    background-image: url(../img/facebook.png);
    width: 45px;
    height: 45px;
}

#ig {
    background-image: url(../img/instagram.png);
    width: 45px;
    height: 45px;
}

#wp {
    background-image: url(../img/whatsapp.png);
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 500px) {
    .redes ul li {
        display: block;
        margin: .5em;
    }
}


/* ------------  VISTAS  ----------------- */


/* --- HOME --- */

.home {
    background: url(../img/bicicleta-ruta.jpg) no-repeat center center;
    background-size: cover;
    height: 31em;
    width: 100%;
}

.presentacion {
    margin: 2em auto;
}

.presentacion h2 {
    text-align: center;
}

.categorias {
    margin-top: 3em;
    font-weight: bold;
}

.categorias h2 {
    margin-bottom: 1em;
}


.grilla-categorias :first-child {
    margin-bottom: 1.2em;
}

.grilla-categorias div {
    margin: 0 !important;
}



.promociones {
    margin-top: 5em;
}


.asesoramiento {
    margin-top: 5em;
    height: 30em;
    background: url("../img/manubrio-bicicleta.png") no-repeat center bottom;
}

.asesoramiento img {
    margin-top: -4em;
}

.asesoramiento figure {
    text-align: center;
}

.asesoramiento span {
    font-size: 1.1em;
    font-weight: bold;
    color: #ff8000;
}

@media screen and (max-width: 767px) {
    .home {
        height: 15em;
    }
    .categorias,
    .promociones {
        text-align: center;
    }
    .promociones img,
    .asesoramiento img {
        margin-top: 1em;
    }
    .asesoramiento {
        height: 33em;
    }

    .categorias div {
        margin: .5em;
    }



}


/* --- NOSOTROS --- */

.banner-nosotros {
    background: url(../img/bicicleta-en-movimiento.jpg) no-repeat center center;
    background-size: cover;
    height: 15em;
    width: 100%;
}

.nosotros {
    margin: 5em auto;
    display: flex;
    flex-direction: column;
}

.texto-mobile{
    order: -1;
}

.nosotros h3 {
    font-weight: 600;
    font-size: 1.5em;
}

.nosotros article {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .nosotros img {
        margin: .5em auto 1em auto;
    }
    .banner-nosotros {
        height: 10em;
    }
}


/* --- CONTACTO --- */

.contacto div {
    margin: 1em auto;
}

.contacto span {
    font-weight: bold;
    color: black;
}

.mapa {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 2em auto;
}

.mapa iframe {
    width: 100%;
}

textarea {
    outline: none;
    resize: none;
}

.btn-primary {
    background-color: #ff8000;
    border: 0;
    color: white;
}

.btn-primary:hover {
    background-color: #ff8000;
    border: 0;
    color: white;
}







/* --- PRODUCTOS --- */
article {
    display: inline-block;
}
.producto h2 {
    font-size: 1.3em;
}

.producto p {
    display: inline-block;
}

.producto {
    background-color: #f1f1f1;
    padding: 2em 0;
    text-align: center;
    border-radius: 0.5em;
    margin: 1em 2em;
}

.producto a {
    display: block;
    margin: auto;

}


/* --- NOTICIAS --- */

.card {
    flex-direction: row !important;
    margin: 2em 0;
}

.card a {
    display: inline-block;

}

/*--- USUARIOS ---*/

.imagen-usuario img {
    border-radius: 50%;
    width: 60px;
}

/* ----PERFIL ----*/

.foto-perfil {
    width: 10em;
    height: 10em;
    margin: 0 auto;
}

.foto-perfil img {
    border-radius: 1em;


}




/* --- 404 --- */

.not-found {
    display: inline-block;
    width: 100%;
    height: 32em;
    background: url("../img/admin.jpg") center bottom no-repeat;
}

.not-found p {
    font-weight: bold;
    font-size: 1.2em;
}



/* --- DETALLE PRODUCTOS --- */

.detalle-producto {
    margin: 3em auto;
}

.detalle-producto span {
    color: black;
    font-weight: bold;
}

.precio {
    font-size: 1.5em;
    color: #ff8000 !important;
}




/* --- GRACIAS --- */

.gracias {
    text-align: center;
    margin-top: 1.5em;
}

.gracias a {
    display: block;
    width: 5em;
    margin: auto;
}

/* ADMIN */

.admin h1, .admin p {
    text-align: center;
    margin: 0 3em .5em 3em;
}
.form-label {
    margin-top: 1em;
}
.form-producto>div {
    margin: 2em auto;
}

.form-producto button {
    margin-bottom: 2em;
}
.text-danger {
    font-size: 0.875rem;
}
.bi bi-exclamation-triangle {
    color: red;
}
.text-danger::before {
    margin-right: .7em;
    margin-top: .5em;
    display: inline-block;
}

.maximo div{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 15em;
    height: 8em;
}

@media screen and (max-width: 767px) {
   .maximo div {
       width: auto;
   }

    .boton-eliminar {
        width: 100%;
    }

    .boton-eliminar button {
        width: 100%;
    }
}


.btn-editar {
    background-color: #9b9b9b;
    padding: 0.150rem 0.75rem;
    margin-bottom: .4rem;
}

.btn-eliminar {
    background-color: #ff6961;

}

.btn-cancelar {
    background-color: #4f5050;
}

.form-eliminar {
    text-align: center;
}

.mensajeExito {
    text-align: center;
    width: 100%;
    background-color: rgba(25, 135, 84, 0.56);
    color: white;
    margin-bottom: 1em;
}

.mensajeExito::before {
    content: url(../img/ok.png);
    margin-right: .7em;

    display: inline-block;

}

.mensajeError {
    text-align: center;
    width: 100%;
    background-color: rgba(232, 14, 14, 0.56);
    color: white;
    margin-bottom: 1em;

}


.columnaImagen img{
max-width: 10em;
}

.form-iniciar-sesion div {
    margin: 1em auto;

}

.form-iniciar-sesion button {
    margin: 2em auto;
    width: 100% !important;

}

.cerrarSesion {
    background: none;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.cerrarSesion:hover {
    background: none;
}

@media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }

    .btn-danger {
        display: block;
    }
}


/* REGISTRO */
.password-icon {
    float: right;
    position: relative;
    margin: -24px 10px 0 0;
    cursor: pointer;
}
.bg-dark:hover {
    color: #ff8000;
}

/* RECUPERAR CONTRA */

.recuperacion-pass {
    color: black;
    display: block;
text-align: center;
    margin-bottom: 3em;
}

.recuperacion-pass:hover {
    color: #ff8000;
}

/* CARRITO DE COMPRAS */

.productos-carrito {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;

}

.producto-carrito {
    border-bottom: 1px solid black;
    padding: .4em 0;
    margin: 1em 0;
}

.producto-carrito img {
    height: 10em;
}

.linkCompras {
    color: #ff8000;
}

.btn-agregar {
    height: 36px;
    padding: 6px 12px;
}

.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}

.correo-ok {
    height: 550px;
    background: url(../img/correo-ok.png) center bottom no-repeat;
    text-align: center;
}

.paginador {
    text-align: center;
}
.paginador li {
    display: inline-block;
}

.paginador a,
.paginador li a{
    color: #ff8000;
    font-weight: bold;
}

.paginador span {
    color: black;
    font-weight: normal;
}


@media screen and (max-width: 767px) {
    .paginador li {
        font-size: 2em;
        margin: 0 .7em;
    }
}

/*//GRAFICOS*/

.chart-container {
    display: inline-block;
}


